.table {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.form-expense {
  align-items: center;
  background-color: rgb(92, 92, 92);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 25px;
}
